*,html,body{
  font-family: 'Josefin Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1,h2,h3,h4,h5,h6{
  font-family:'Cambria', sans-serif;
  font-weight: 700;
  margin: 0;
}
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Cambria',
    monospace;
}

#root{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.slick-list,.slick-slider,.slick-track{position:relative;display:block}
.slick-loading .slick-slide,.slick-loading .slick-track{visibility:hidden}
.slick-slider{box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}
.slick-list{overflow:hidden;margin:0;padding:0}.slick-list:focus{outline:0}.slick-list.dragging{cursor:pointer;cursor:hand}
.slick-slider .slick-list,.slick-slider .slick-track{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.slick-track{top:0;left:0}.slick-track:after,.slick-track:before{display:table;content:''}.slick-track:after{clear:both}
.slick-slide{display:none;float:left;height:100%;min-height:1px}[dir=rtl] .slick-slide{float:right}.slick-slide img{display:block}
.slick-slide.slick-loading img{display:none}.slick-slide.dragging img{pointer-events:none}.slick-initialized .slick-slide{display:block}.slick-vertical 
.slick-slide{display:block;height:auto;border:1px solid transparent}.slick-arrow.slick-hidden{display:none}
 


.slick-slider,
.slick-list,
.slick-track,
.slick-slide,
.slick-slide>div{
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  background-color: #141414;
}
.slick-dots{
  position: absolute;
  z-index: 100;
  bottom: 30px;
  display: flex!important;
  flex-wrap: wrap;
  margin: auto;
  width: 100vw;
  align-items: center;
  justify-content: center;
  list-style: none;
  text-align: center;
  padding: 0;
}
.slick-dots>li:not(:last-of-type){
  margin-right: 6px;
}

.slick-dots>li>button{
  background: none;
  height: 50px;
  width: 50px;
  border: none;
  color: #ffffff;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition: ease-in-out all 100ms;
  outline: none;
}

.slick-dots>li.slick-active>button{
  background-color: #0fa1e4;
  border-radius: 40px;
  transition: ease-in-out all 400ms;
  font-weight:bolder;
}

.hero-container{
    display: flex;
    margin-bottom:32px ;
    
}

.content-wrapper{
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #141414;
}
  
.main-hero{
  position: relative;
  height: 100%;
  width: 100%;
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
  background-attachment: fixed;
  transition: all 2s ease-in;
}

.main-hero>.overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  background-color: #00000092;
  padding: 32px;
}
.overlay>.content{
  position: relative;
  opacity: 0;
}

.slick-active.slick-current .overlay>.content{
  animation: fadeIn 18000ms 800ms ease-in-out;
}


.overlay>.content>h2{
  color: #ffffff;
  line-height: 1.1;
  text-transform: uppercase;
  margin-bottom: 16px;
  overflow: hidden;
}

.overlay>.content>p{
  color: #ffffffb9;
}

.overlay>.content>.source{
  color: #ffffff;
  background-color:#0fa1e4;
  padding: 8px;
  border-radius: 0 0 10px 0;
  margin-right:16px;
  text-transform: uppercase;
}
.overlay>.content>.time{
  color: #ffffffb9;
}
.overlay>.reactions-container{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: calc(50% - 50px);
  right: 0;
  background-color: #ffffff;
  padding: 5px;
}
.overlay>.reactions-container>*{
  margin: 5px auto;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
        transform: translateX(-80px);
        
    }
    5%{
        opacity: 1;
        transform: translateX(0);
    }
    95%{
        opacity: 1;
        transform: translateX(0);
        
    }

    100%{
      transform: translateX(-80px);
      opacity: 0;

    }
}

@media screen and (max-width:599px){
  .main-hero>.overlay{
    background: linear-gradient(0deg, rgba(0,0,0,0.9) 40%, rgba(255,255,255,0) 100%);
  }
  .overlay>.content{
    padding: 0;
    left: 0;
    max-width: 90%;
  }
  .overlay>.content>h2{
    font-size: 32px;
    max-height: 140px;
  }
  .overlay>.content>p{
    font-size: 16px;
  }
  .overlay>.content>.source{
    font-size: 12px;
  }
  .overlay>.content>.time{
    font-size: 10px;
  }
}

@media screen and (min-width: 600px){
  .main-hero>.overlay{
    background: linear-gradient(0deg, rgba(0,0,0,0.9) 40%, rgba(255,255,255,0) 100%);
  }
  .overlay>.content{
    padding: 10px;
    left: 0;
    max-width: 80%;
  }
  .overlay>.content>h2{
    font-size: 28px;
    max-height: 140px;
  }
  .overlay>.content>p{
    font-size: 14px;
  }
  .overlay>.content>.source{
    font-size: 12px;
  }
  .overlay>.content>.time{
    font-size: 10px;
  }
}


@media screen and (min-width: 768px){
  .overlay>.content{
    padding: 0;
    left: 0;
  }
  .overlay>.content>h2{
    font-size: 48px;
    max-height: 160px;
  }
  .overlay>.content>p{
    font-size: 16px;
  }
  .overlay>.content>.source{
    font-size: 14px;
  }
  .overlay>.content>.time{
    font-size: 12px;
  }
}
@media (min-width: 1200px){
    .main-hero>.overlay{
      background: linear-gradient(90deg, rgba(0,0,0,0.9) 15%, rgba(255,255,255,0) 100%);
    }
    .overlay>.content{
      left: 50px;
      max-width: 800px;
      padding: 32px;
    }
    .overlay>.content>h2{
      font-size: 58px;
      max-height: 200px;
    }
    .overlay>.content>p{
      font-size: 24px;
    }
    .overlay>.content>.source{
      font-size: 16px;
    }
    .overlay>.content>.time{
      font-size: 14px;
    }
}