.m-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 999;
}


.m-container>ul>li{
    display: inline;
}

.m-container>ul>li>button{
    background: none;;
    outline: none;
    border: none;
    font-family: 'Cambria';
    font-size: 32px;
    font-weight: bolder;
    color: #ffffff;
    cursor: pointer;
    transition: ease-in-out all 300ms;
    text-transform: capitalize;
}
.m-container>ul>li.active>button{
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #0fa1e4;
    color: #ffffff;   
    transition: ease-in-out all 200ms;
}


.m-container>ul>li:not(.active)>button:hover{
    color: #0fa1e4;
    transition: ease-in-out all 300ms;
}

@media screen and (max-width:599px){
    .m-container{
        padding: 0;
        background: linear-gradient(180deg, rgba(0,0,0,0.9) 10%, rgba(255,255,255,0) 100%);
    }
    .m-container>ul>li:not(:last-of-type){
        margin-right: 8px;
    }
    .m-container>ul>li>button{
        font-size: 16px;
        padding: 6px 8px;

    }
}

@media (min-width: 600px){
    .m-container{
        padding: 0;
        background: linear-gradient(180deg, rgba(0,0,0,0.9) 10%, rgba(255,255,255,0) 100%);
    }
    .m-container>ul>li:not(:last-of-type){
        margin-right: 6px;
    }
    .m-container>ul>li>button{
        font-size: 30px;
        padding: 6px 8px;

    }
}

@media screen and (min-width: 1000px){
    .m-container>ul>li:not(:last-of-type){
        margin-right: 6px;
    }
    .m-container>ul>li>button{
        font-size: 34px;
        padding: 10px 12px;

    }
}

@media screen and (min-width: 1200px){
    .m-container{
        padding:16px 24px;
        background: none;
    }

    .m-container>ul>li:not(:last-of-type){
        margin-right: 24px;
    }
}
